<div id="<%= dom_id habbit_entry %>">
  <p>
    <strong>Name:</strong>
    <%= habbit_entry.name %>
  </p>

  <p>
    <strong>Occurrence:</strong>
    <%= habbit_entry.occurrence %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= habbit_entry.status %>
  </p>

</div>
