<h1>Editing habbit entry</h1>

<%= render "form", habbit_entry: @habbit_entry %>

<br>

<div>
  <%= link_to "Show this habbit entry", @habbit_entry %> |
  <%= link_to "Back to habbit entries", habbit_entries_path %>
</div>
